*~
#*
*.ali
*.log
config.status
CHANGES
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
*.cov
ChangeLog
.settings
configure.lineno
autom4te.cache
lib/
obj/
mailada.gpr
mailada_tools.gpr
mailada_tests.gpr
regtests/result/
